.header 
  .header__wrapper
    = link_to "経済ニュース", "https://m.finance.yahoo.co.jp/fx/marketcalendar", class: "header__btn"
    .header-diary
      = link_to "foregin diary", root_path, class: "header-diary" 


  .grid

    .grid__wrapper
      = link_to "マイページ", mypages_path, class: "grid"
      = link_to "ログアウト",  destroy_user_session_path, method: :delete

    .grid__wrapper
      = link_to "ログイン", new_user_session_path, class: 'post'
      = link_to "新規登録", new_user_registration_path, class: 'post'