.header 
  .header__wrapper
    = link_to "経済ニュース", "https://m.finance.yahoo.co.jp/fx/marketcalendar", class: "header__btn"


  .grid
    -if user_signed_in?
      .grid-wrapper
        = link_to "マイページ", "/users/#{current_user.id}", method: :get
        = link_to "ログアウト",  destroy_user_session_path, method: :delete
      .grid-list
        = link_to "カレンダー", new_calender_path, class: "grid"
        = link_to "トップページ", root_path, class: "grid"
    -else
      .grid-wrapper
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'
