

.mianpage-continer 
  %ul.sliders
    %li.twiiter-slick
      %a{href: "http://3.115.204.205/"}
        メルカリのクローンサイト
    %li.mercari-slick
      %a{href: "https://twitter.com/c8lymfkF5t3iPrE"}
        twitterアカウント
.data__databox 
  = link_to "7月", new_message_path, class: "data__databox__btn"
  = link_to new_calender_path, class: "data__databox__icon--pen-square" do
    = fa_icon 'pen-square'

.data__databox 
  = link_to "8月", new_message_path, class: "data__databox__btn"
  = link_to new_calender_path, class: "data__databox__icon--pen-square" do
    = fa_icon 'pen-square'

.data__databox 
  = link_to "9月", new_message_path, class: "data__databox__btn"
  = link_to new_calender_path, class: "data__databox__icon--pen-square" do
    = fa_icon 'pen-square'

.data__databox 
  = link_to "10月", new_message_path, class: "data__databox__btn"
  = link_to new_calender_path, class: "data__databox__icon--pen-square" do
    = fa_icon 'pen-square'

.data__databox 
  = link_to "11月", new_message_path, class: "data__databox__btn"
  = link_to new_calender_path, class: "data__databox__icon--pen-square" do
    = fa_icon 'pen-square'

.data__databox 
  = link_to "12月", new_message_path, class: "data__databox__btn"
  = link_to new_calender_path, class: "data__databox__icon--pen-square" do
    = fa_icon 'pen-square'