%script{:src => "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js", :type => "text/javascript"}

.mianpage-continer 
  .sliders
    .twiiter-slick
      = link_to "https://twitter.com/c8lymfkF5t3iPrE", class:"twitter" do
        %i.fab.fa-twitter
      %h1 ←こちらはTwitterアカウントになります 

.data__databox 
  = link_to "1月", new_message_path, class: "data__databox__btn"
  = link_to new_calender_path, class: "data__databox__icon--pen-square" do
    = fa_icon 'pen-square'

.data__databox 
  = link_to "2月", new_message_path, class: "data__databox__btn"
  = link_to new_calender_path, class: "data__databox__icon--pen-square" do
    = fa_icon 'pen-square'

.data__databox 
  = link_to "3月", new_message_path, class: "data__databox__btn"
  = link_to new_calender_path, class: "data__databox__icon--pen-square" do
    = fa_icon 'pen-square'

.data__databox 
  = link_to "4月", new_message_path, class: "data__databox__btn"
  = link_to new_calender_path, class: "data__databox__icon--pen-square" do
    = fa_icon 'pen-square'

.data__databox 
  = link_to "5月", new_message_path, class: "data__databox__btn"
  = link_to new_calender_path, class: "data__databox__icon--pen-square" do
    = fa_icon 'pen-square'

.data__databox 
  = link_to "6月", new_message_path, class: "data__databox__btn"
  = link_to new_calender_path, class: "data__databox__icon--pen-square" do
    = fa_icon 'pen-square'