%script{:src => "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js", :type => "text/javascript"}

= render "messages/header"

.message-wrapper 
  .message-box
    .datas-wrapper 
      = form_with model: @number, local:true do |f|
        %label.datas 数字を入力してください
        = f.number_field :win, class: "datas"
        = f.number_field :lose, class: "datas"
        = f.submit "submit", class:"datas"
      
= render "messages/footer"