.header 
  .header__wrapper
    = link_to "経済ニュース", "https://m.finance.yahoo.co.jp/fx/marketcalendar", class: "header__btn"


  .grid
    -if user_signed_in?
      .grid-wrapper
        .search
          = form_with  url: search_result_users_path, method: :get, local: true do |f|
            = f.text_field :name
            = f.submit :search


        .mypage
          = link_to "マイページ", "/users/#{current_user.id}", method: :get
          %ul.mypage-list
            %li.mypage-calender 
              = link_to "カレンダー", new_calender_path, class: "mypage-calender"
              = link_to "トップページ", root_path, class: "mypage-calender"
              = link_to "日記を書く", new_message_path, class: "mypage-calender"
        .logout
          = link_to "ログアウト",  destroy_user_session_path, method: :delete
  
    -else
      %ul.grid-wrapper
        %li.login
          = link_to "ログイン", new_user_session_path, class: 'post'
        %li.new-user
          = link_to "新規登録", new_user_registration_path, class: 'post'