= render "mypage_search"

.mypages
  .mypages-container
    .mypages-subtitle
      = @nickname 
    
    -@users.each do |message|
      .mypages-box
        %ul.mypages-year
          %li.mypages-month
            = message.month.name
          %li.mypages-day 
            = message.day.name
    
        %p 良かった点：
        .mypages-title-good
          = message.good
        %p 悪かった点：
        .mypages-title-good
          = message.bad
        %p 改善点：
        .mypages-title-good
          = message.improvement
        
        .mypages-edit
          = link_to  "/messages/#{message.id}/edit", method: :get
        .mypages-destory
          = link_to  "/messages/#{message.id}" ,method: :delete, data: { confirm: '本当に削除しますか？' } do
            %li.fas.fa-cut
      
    = paginate @messages
    .home-come
      = link_to "ホームに戻る",root_path, class: "home-come"

.footer
  