= render "messages/header"

.mypages
  .mypages-container
    .mypages-subtitle
      = @nickname
    -@user.messages.each do |message|
      .mypages-box
        .mypages-image
        %ul.mypages-year
          %li.mypages-day 
            = message.day.name
          %li.mypages-month
            = message.month.name
        .mypages-title-good
          = message.good
        .mypages-title-good
          = message.bad
        .mypages-title-good
          = message.improvement
    .home-come
      = link_to "ホームに戻る",root_path, class: "home-come"
  